/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #b9b9b9;
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    height: 3000px;
    text-align: left;
    margin-left: 130px;
}

h1 {
    margin-top: 0;
}

.question {
    margin-bottom: 40px;
}

label {
    display: block;
}

button {
    background-color: #979797;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #484848;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
