
.title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 45px;
    margin-top: 40px;
    margin-left: 300px;
    margin-bottom: 30px;
}

.pocawoo {
    display: inline-block;
}

.pocawoo img {
    border-radius: 15px;
    height: auto;
    max-width: 35%;
    margin-left: 75px;
}